.InterviewsContainer {
  display: flex;
  flex-direction: row;
}

.InterviewsTabContent {
  width: 350px;
  box-shadow: 1px 1px 1px 1px #e3e2e2;
  padding: 10px 10px 10px 0;
}

.InterviewsTab {
  display: flex;
  flex-direction: row;
}

.tab {
  padding: 10px;
  box-shadow: 0px 0px 0px 1px #1a2945;
  cursor: pointer;
}

.active {
  background-color: #1a2945;
  color: #fff;
}

.InterviewsTabBelowdetls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.InterviewsTabBelowdetlsone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.InterviewsTabBelowdetlsbtn button {
  width: 150px;
}

.InterviewsTabBelowdetlsbtn button img {
  width: 20px;
}

.diver {
  width: 100%;
  height: 1px;
  background-color: rgb(183, 181, 181);
  margin-top: 20px;
  margin-bottom: 20px;
}

.InterviewsTabBelowdetlsday {
  font-size: 12px;
  color: rgb(183, 181, 181);
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: self-start;
  text-align: center;
 
}

.infodiv{
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  top: 20%;
}
.formdiv{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.namediv{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.updateDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}
.updateDiv p{
  padding: 30px;
}
.updateDivborders .updateDiv:nth-last-child(){
  border-bottom: none;
}

@media screen and (max-width: 720px) {
  .InterviewsTabContent {
    width: 100px;
  }
  .InterviewsTab {
    display: flex;
    flex-direction: column;
  }
  .InterviewsTabBelowdetlsone {
    display: flex;
    flex-direction: column;
  }
  .InterviewsTabBelowdetlsbtn button {
    width: 80px;
    font-size: 10px;
  }
  .InterviewsContainer {
    font-size: 12px;
  }
  .InterviewsTabContent {
    padding: 10px;
  }
}
