.individualFeedBackTab {
    display: flex;
    flex-direction: row;
    gap: 20px;
  border-bottom: 1px solid #ddd;
}

.tab {
    padding: 10px;
      cursor: pointer;

}

.Exeluation {
    border-bottom: 2px solid rgb(94, 94, 229);
}

.active {
  border-bottom: 2px solid #224066;
  font-weight: 600;
}

.section {
  padding: 20px;
}

.criteriaRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.score {
  font-weight: 600;
}

.scoreBoard {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.pass {
  color: green;
}
.section {
  padding: 20px;
}

.commentBox {
  padding: 15px;
  background-color: #f5f6f8;
  border-radius: 8px;
  line-height: 1.5;
}

.criteriaRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.scoreBoard {
  display: flex;
  gap: 40px;
}

.pass {
  color: green;
}
