.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.4); 
  z-index: 999; 
}

.modal {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 400px;
  min-height: 200px;
  box-shadow: 0px 5px 18px rgba(0,0,0,0.2);
  position: relative;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.closebtn:hover {
  color: red;
}

@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
