.ContainerDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}
.LetsgetoWork{
    font-weight: 600;
}
.DateandTime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.shiftPolicy {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgb(194, 194, 194);
}

.clockin img {
    width: 18px;
}

.clockin button {
    width: 100%;
}

.shiftPolicy :nth-child(1) {
    color: rgb(194, 194, 194);
    font-size: 14px;
}

.shiftPolicy :nth-child(2) a{
    text-decoration: none;
    color: rgb(13, 116, 234);
}
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popupCard {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.2);
  text-align: center;
  animation: scalePopup 0.3s ease-out;
}

.closeBtn {
  margin-top: 15px;
  background: #1976d2;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
}

.closeBtn:hover {
  background: #1257a8;
}

@keyframes scalePopup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
