.notificatcontainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px 1px rgb(224, 223, 223);
  right: 5px;
  z-index: 2;
  border-radius: 10px;
}

.profileicon2 {
  background-color: rgb(233, 232, 232);
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.profileicon2BTN {
  width: 100%;
  display: flex;
  justify-content: end;
}

.MobileQR {
  width: 100%;
  text-align: start;
  display: flex;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}

.MobileQR:hover {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}
.noticount{
  position: absolute;
  top: -4px;
  right: 65px;
  background-color: red;
  color: wheat;
  padding: 2px 4px;
  border-radius: 50%;
}
.profileIconnotifi{
  position: relative;
  cursor: pointer;
}
.notificat1{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  align-items: center;
    cursor: pointer;
 }

.notificat1 div{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: aquamarine;
}

.notificationtext{
  text-align: start;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  border-bottom: 1px solid rgb(192, 192, 192);
}