
.profileIconclock,
.profileIconnotifi,
.profileicon {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.profileIconclock img,
.profileIconnotifi img,
.profileicon img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.noticount {
  position: absolute;
  top: 0px;
    right: 1px;
  min-width: 16px;
  height: 16px;
  font-size: 10px;
  font-weight: 600;
  background-color: #e53935;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 10;
}


.notificationtext {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  border-bottom: 1px solid #c0c0c0;
}

.notificat {
  width: 100%;
}

.notificat1 {
  display: flex;
  gap: 10px;
  padding: 15px;
  align-items: center;
  cursor: pointer;
}

.notificat1 div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: aquamarine;
}


.notificatcontainer {
  position: absolute;
  right: 5px;
  width: 200px;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(224, 223, 223);
  z-index: 2;
}

.profileicon2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(233, 232, 232);
}

.profileicon2BTN {
  display: flex;
  justify-content: flex-end;
}

.MobileQR {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.MobileQR img {
  width: 30px;
}

.MobileQR:hover {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}
