.buttonsdiv {
  display: flex;
  gap: 30px;
  padding: 10px;
}

.buttons {
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 0px rgb(228, 227, 227);
}
.filtergray{
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgb(228, 227, 227);
}

.buttons img {
  width: 20px;
  height: 20px;
}
.filtergrayimg
{
    width: 20px;

}
.OpenTask {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.OpenTaskContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activebtn {
  background-color: rgb(98, 150, 176);
  color: #fff;
}

.label {
  box-shadow: 0px 0px 2px 1px rgb(228, 227, 227);
  padding: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.OpenTaskdiv {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
}

.OpenTaskdiv img {
  width: 30px;
   padding: 5px;
  border-radius: 5px;
}

/* Goals List */
.goalsList {
  width: 80%;
  margin-top: 15px;
}

.goalsList ul {
  padding-left: 20px;
}

/* MODAL */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.input {
  width: 100%;
  padding: 8px;
  margin: 15px 0;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.saveBtn {
  background-color: rgb(98, 150, 176);
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
}

/* Responsive */
@media screen and (max-width: 720px) {
  .buttonsdiv {
    gap: 5px;
    justify-content: space-around;
  }

  .OpenTask {
    flex-direction: column;
  }
}
